div.center {
  display:flex;
  justify-content:center;
  align-items:center;
}

div.ext-box {
  display: table;
  width:100%;
}

div.int-box {
  display: table-cell;
  vertical-align: middle;
}

#left {
  width: 50%;
  
}

#right {
  padding: 0;
  margin: 0;
  width: 50%;
}

#div-canvas {
  padding: 30px;
}

#all {
  padding: 0;
  margin: 0;
}

button {
  padding: 10px;
  width: 110px;
  border-radius: 5px;
  margin: 5px 20px 5px 0px;
  border: 2px solid;
  background: #fff;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  opacity: 0.5;
}

.centerF{
  padding: 20px 0px 20px 0px;
  width: 63%;
  margin: 30px 0px 0px 0px;
  border-radius: 5px;
  border: 2px solid;

}

label {
  margin-right: 5px;
  background: black;
  color: #fff;
  font-weight: bold;
  font-style: italic;
  font-family: "Courier New", monospace;
}

div.number-input {
  padding-bottom: 2%;
}
